<html>
	<head>
		<title>Rey - Test-Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script>
			function hi(){
				console.log("hallo Welt");
			}
			
			function time(hour, minute){
				result = minute / 60;
				
				console.log(hour + result);
				return hour + result;
				
			}
			
			function timeById(){
				stunde = document.querySelector("#hour").value;
				minuten = document.querySelector("#minute").value;
				console.log("Stunde: " + stunde);
				console.log("Minute: " + minuten);
				resultat = time(parseInt(stunde), parseInt(minuten));
				document.getElementById("ausgabe").innerHTML = resultat;
			}
		</script>
	</head>
	<body onload="hi()">
			
		<div>
			<h1>Home - testpage Webapps</h1>
			<form>
				<input type="number" id="hour"> : <input type="number" id="minute"><br>
				<button type="button" onclick="timeById()">Enter</button>
			</form>
			<div id="ausgabe">0</div>
		</div>
		<div id="app">
			<test-calc></test-calc>
			{{ test }}
			<button v-on:click="setTest">setTest</button><br><br>
			
			
			<form>
				<input v-model="hour" type="number"> : <input v-model="minute" type="number"><br>
				<button type="button" v-on:click="calculate">calculate</button>
			</form>
			{{ result }}
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<script src="https://unpkg.com/vue-router"></script>
		<script src=".\scripts\vue-routing.js"></script>
	</body>
</html>